body{
  font-family: 'Raleway', sans-serif;
  background-color: rgba(200, 200, 200);
  background-size: cover;
}

#home_msg {
  margin: 7% 12% 0% 6.5%;
  padding: 0.2% 2% 0.2% 2%;
  background-color: rgba(34,34,34,0.8);
  border-radius: 5px;
}

#home_msgh1 {
  color: white;
  font-size: 40px;
  font-weight: bold;
}

#home_msgh2 {
  color: white;
  font-size: 25px;
}

#techbar {
  background-color: rgba(34,34,34);
  font-size: 25px;
}

.navbar-brand {
  font-size: 40px;
  font-weight: bold;
}

.green {
  color:#68BD45;
}

.blue {
  color: #006C63;
}
