.video {
  float: left;
  width: 640px;
  height: 480px;
  border:2px solid #00FFFF;
}
.course_info {
  float: right;
  width: 640px;
  height: 480px;
  margin-left: 2%;
  border:2px solid #A52A2A;
}
